#featured-title h2 {
    font-size: 40px;
    color: rgb(26, 24, 43);
    font-weight: 400;
    border-bottom: solid 2px ;
    padding: 20px;
}

#featured-title {
margin-top: 20px;
margin-bottom: 20px;
}


#main-card {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
    
}


#main-card h5 {
    font-size: 60px;
    color: rgb(228, 231, 236);
    font-weight: 300

}
#main-card h5:hover {
    color:rgb(129, 148, 184);
}

#main-card a:hover {
    color:rgb(129, 148, 184);
}

#main-card a {
 color: rgb(228, 231, 236);
 font-weight: 300;
 font-size: 45px;
}

@media only screen and (max-width: 800px) {
   #main-card a {
    font-size: 25px;
   }

   #main-card h5 {
    font-size: 45px;
   }
  }